@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Montserrat";
    font-display: swap;
    /* Для шрифта не задается период блокировки и задается бесконечный период подмены. */
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff2") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff2") format("woff");
}

* {
    box-sizing: border-box;
    font-family: Montserrat, Arial, Georgia, sans-serif;
    /* outline: solid 1px red; */
}

a:hover {
    opacity: .7;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #F9FBFD;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.intro {
    background: url("../img/cover.jpg") center center/cover no-repeat;
    background-color: #215d99;
}

.header {
    max-width: 1160px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F9FBFD;
    align-items: center;
    margin-right: 33px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #F9FBFD;
}

.nav-item:last-child {
    margin-right: 0;
}


.main {
    padding: 210px 532px 328px 198px;
}

.main-info {
    max-width: 636px;
    margin: 0;
}

.main-info__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: #F9FBFD;
    margin: 0 0 30px;
}

.main-info__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #F9FBFD;
    margin: 0;
}










.about {
    width: 1160px;
    margin: 0 auto;
}

.about-info {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-info__title {
    font-weight: 600;
    font-size: 28px;
    color: #011C40;
    margin: 0 0 40px;
}

.about-info__text {
    font-size: 16px;
    line-height: 24px;
    color: #011C40;
    margin: 0;
}
























.advantage {
    padding: 120px 103px;
    background: url("../img/advantage-cover.jpg") center center/cover no-repeat;
    background-color: #dae8f5;
}

.advantage-info {
    width: 1130px;
    margin: 0 auto;
}

.advantage-info__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    color: #011C40;
    margin: 0 0 60px;
}

.advantage-info__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.advantage-info__card {
    width: 360px;
    min-height: 241px;
    background: #F9FBFD;
    padding: 38px 30px 30px;
    list-style: none;
}

.advantage-info__card:last-child {
    margin-right: 0;
}

.advantage-info__subtitle {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #011C40;
    margin: 25px 0 20px;
}

.advantage-info__text {
    font-size: 14px;
    line-height: 20px;
    color: #011C40;
    margin: 0;
}














.cruises {
    padding: 120px 103px;
}

.cruises-info {
    width: 1130px;
    margin: 0 auto;
}

.cruises-info__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    color: #011C40;
    margin: 0 0 60px;
}

.cruises-info__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cruises-info__card {
    position: relative;
    width: 260px;
    height: 386px;
    margin-bottom: 30px;
    /* Как убрать у второго ряда mb? */
    list-style: none;
}

.cruises-info__card-title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #F9FBFD;
}

.cruises-info__more {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    padding: 35px 25px;
}

.cruises-info__more-parameter {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F9FBFD;
    margin: 0;
}

.cruises-info__card:hover .cruises-info__more {
    display: block;
}











.reservation {
    background: url("../img/reservation-cover.jpg") center center/cover no-repeat;
    background-color: #daf2fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 103px;
}

.reservation__container-text {
    width: 500px;
}

.reservation__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #011C40;
    margin-bottom: 30px;
}

.reservation__text {
    width: 351px;
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
    margin: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
}

.reservation__form {
    width: 403px;
    background: #011C40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
    margin-left: 144px;
    padding: 50px;
}

.reservation__form-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #F9FBFD;
    margin-bottom: 35px;
}

.reservation__form-input {
    width: 100%;
    height: 43px;
    padding: 16px;
    background: #F9FBFD;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #011C40;
}

.reservation__checkbox {
    width: 18px;
    height: 18px;
    background: #F9FBFD;
}

.reservation__text-checkbox {
    margin: 0 0 0 5px;
    font-size: 9px;
    color: #F9FBFD;
}

.reservation__button {
    width: 100%;
    height: 43px;
    background: #F9FBFD;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
    margin-top: 30px;
}










.map {
    width: 1160px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map__text {
    margin-left: 100px;
}

.map__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
    margin-bottom: 40px;
}

.map__adress {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.map__adress a {
    color: #011C40;
    text-decoration: none;
}

.map__adress:last-child {
    margin-bottom: 0;
}

.map__icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}













.footer {
    width: 100%;
    background: #011C40;
    padding: 50px 103px;
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: 40px;
}

.footer__nav {
    margin-right: 260px;
    align-items: center;
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.social-item {
    margin-right: 33px;
    list-style: none;
}

.social-item:last-child {
    margin-right: 0;
}