@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Montserrat";
    font-display: swap;
    /* Для шрифта не задается период блокировки и задается бесконечный период подмены. */
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff2") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff2") format("woff");
}

* {
    /* border: solid 1px red; */
}

body {
    background: #F9FBFD;
    margin: 0 auto;
    font-family: Montserrat, Arial, serif;
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: #F9FBFD;
    margin: 0 0 30px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #011C40;
    margin: 0 0 60px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
}

h4 {
    font-size: 18px;
    line-height: 27px;
    color: #F9FBFD;
    margin: 0 0 35px 0;
}

p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

a {
    cursor: pointer;
}

a:hover {
    opacity: .7;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.container-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.shrink {
    flex-shrink: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.main-nav {
    max-width: 830px;
    display: flex;
    flex-wrap: wrap;
}

.main-nav-item {
    font-size: 16px;
    line-height: 20px;
    color: #F9FBFD;
    list-style: none;
    margin-right: 33px;
}

.main-nav-item:last-child {
    margin-right: 0;
}

.main-nav-item a {
    color: #F9FBFD;
    text-decoration: none;
}

.main-nav-item a:hover {
    opacity: .7;
}

.cover {
    background: url("../img/cover.jpg") center center/cover no-repeat;
    background-color: #215d99;
}

.promo-text-container {
    width: 636px;
    padding-top: 210px;
    padding-bottom: 283px;
    padding-left: 95px;
}

.promo-subtitle p {
    font-size: 20px;
    line-height: 24px;
    color: #F9FBFD;
    margin: 0;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container {
    max-width: 512px;
}

.about-text p {
    font-size: 16px;
    line-height: 24px;
    color: #011C40;
    margin: 0;
}

.text-center h2 {
    text-align  : center;
}

.advantage-cover {
    background: url("../img/advantage-cover.jpg") center center/cover no-repeat;
    background-color: #dce8f6;
}

.advantage-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.advantage-list-item {
    width: 360px;
    list-style: none;
    padding: 35px 30px 50px;
    background: #F9FBFD;
    margin-right: 40px;
}

.advantage-list-item:last-child {
    margin-right: 0;
}

.advantage-title {
    margin-top: 25px;
    margin-bottom: 20px;
}

.advantage-list-item-text p {
    font-size: 14px;
    line-height: 20px;
    color: #011C40;
    margin: 0;
}

.cruises-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 30px;
    padding: 0;
}

.cruises-list-item {
    position: relative;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%);
}

.h3-white h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #F9FBFD;
}

.cruises-list-item-more-container {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    display: none;
    padding: 25px;
}

.h3-white-hover {
    font-weight: 500;
    font-size: 18px;
    color: #F9FBFD;
    margin: 0 0 15px 0;
}

.more-parameter {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F9FBFD;
    margin: 0;
}

.more-value {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D8D8D9;
    margin: 0 0 20px 0;
}

.more-value:last-child {
    margin-bottom: 0;
}

.cruises-list-item-more {
    margin: 0; 
}

.cruises-list-item:hover .cruises-list-item-more-container {
    display: block;
}

.cruises-button {
    width: 100%;
    background: #F9FBFD;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
    text-decoration: none;
    padding: 12px 50px;
}

.cruises-button:hover {
    opacity: .7;
}


.reservation-cover {
    background: url("../img/reservation-cover.jpg") center center/cover no-repeat;
    background-color: #83b3e2;
}

.reservation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-container-text {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 403px;
    background: #011c40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
    margin-left: 144px;
    padding: 50px;
}

.form-title h4 {
    width: 303px;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #f9fbfd;
    margin-bottom: 35px;
}

input {
    width: 303px;
    padding: 16px;
    background: #f9fbfd;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    color: #011c40;
    border: 0;
}

.checkbox-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    height: 40px;
}

.checkbox-wrapper input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.checkbox-wrapper input + label {
    font-size: 10px;
    line-height: 13px;
    color: #F9FBFD;
    padding-left: 23px;
    cursor: pointer;
    margin-top: 8px;
}

.checkbox-wrapper input + label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #F9FBFD;
}

.checkbox-wrapper input:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

button {
    width: 100%;
    height: 43px;
    background: #f9fbfd;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #011c40;
    margin-top: 30px;
    border: 0;
    padding: 0;
}

button:hover {
    background: #011C40;
    color: #F9FBFD;
    border: solid 1px #F9FBFD;
    transition: background-color .3s;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.adress p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 45px;
    margin-bottom: 33px;
}

.phone p {
    font-size: 16px;
    line-height: 24px;
}

.phone a {
    text-decoration: none;
    color: #011C40;
}

.phone a:hover {
    opacity: .7;
}

.contact-icon {
    margin: 0 10px 0 0;
}

.footer {
    background: #011C40;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-nav {
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.social-media {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.social-media-item {
    margin: 0;
    padding: 0;
    margin-right: 33px;
    list-style: none;
}

.social-media-item:last-child {
    margin-right: 0;
}

.social-media-item a:hover {
    opacity: .7;
}